.AddContactsForm {
    display: inline-grid;
    margin-top: 50px;
    margin-left: 38%;
    font-weight: bold;
    font-size: 20px;
}

.AddContactsForm input {
    width: 300px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.butn {
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}