.Edit {
    font-size: 30px;
    margin-left: 30px;
}

.EditForm {
    display: inline-grid;
    margin-top: 50px;
    margin-left: 38%;
    font-weight: bold;
    font-size: 20px;
}

.EditForm input {
    width: 300px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
}