
.Contacts {
    font-size: 30px;
    display: -webkit-box;
    margin: 35px;
    border-bottom: 1px solid black;
}

.Dish {
    display: -webkit-box;
    margin: 50px 0 0 50px;
    font-size: 30px;
}

.btn {
    margin: 60px 0 0 700px;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    margin-left: 40px;
}

.delete {
    margin-left: 5px;
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.edit {
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}